In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv( '/home/rajesh/nepse_data/nepse-data/data/02_15_2025.csv')
df.head()

      Transact. No. Symbol  Buyer  Seller Quantity    Rate    Amount
0  2025021305016233    BBC     96      14       10  5587.0   55870.0
1  2025021305015830    BBC     22       1       30  5520.0  165600.0
2  2025021305015829    BBC      6       1       10  5522.0   55220.0
3  2025021305015828    BBC     26       1       10  5523.0   55230.0
4  2025021305015827    BBC     57       1       10  5523.0   55230.0